.color-blue {
    color: #3a6193;
}

.color-green {
    color: green;
}

.logo-store-size-tables-responsive {
    height: 80%;
    width: 80%;
}

.logo-navbar-size-tables-responsive {
    height: 90px;
    width: 240px;
}

.logo-info-size-tables-responsive {
    height: 90%;
    width: 90%;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-horizontal-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-horizontal-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-horizontal-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.button-search-tables-responsive {
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #3a6193;
    border: 1px solid #3a6193;
    font-size: 12px;
}

.form-search-tables-responsive {
    color: grey !important;
    border-bottom: 1px solid grey;
    font-size: 18px;
}

.form-search::placeholder {
    color: grey;
}

.height-80 {
    height: 80px !important;
}

.li:active {
    z-index: 10 !important;
    -webkit-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
    box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.shadow-box-right {
    -webkit-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.list-tab {
    padding: 10px 10px 10px 20px;
    margin: 10px !important;
    color: rgb(54, 54, 54);
}

.list-tab:hover {
    background-color: rgb(185, 184, 184);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hr-tab {
    border-bottom: 1px solid rgb(54, 54, 54);
}

.form-select-tables-responsive {
    color: grey !important;
    border-bottom: 1px solid black;
    border-top: 0px solid #3a6193;
    border-right: 0px solid #3a6193;
    border-left: 0px solid #3a6193;
    font-size: 15px;
    background-color: white;
    text-align: left;
}

.padding-horizontal-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.item-list {
    background-color: white;
    font-size: 19px !important;
    text-align: center;
    margin: 0px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.item-list:hover {
    background-color: gray;
    color: white !important;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-15 {
    font-size: 15px;
}

.background-gray {
    background-color: #e9e9e9;
}

.buttom-tel {
    border: 1px solid gray;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.buttom-tel-basket {
    background-color: #98FB98;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.button-menus-navbar-tables-responsive {
    background-color: white;
    border: none;
    padding-right: 35px;
}

.select-items-tables-responsive {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 300px !important;
}

.dropdown-button-tables-responsive {
    border: none;
    background: none;
    width: 100%;
}

.button-search-cat-tables-responsive {
    border-radius: 20px;
    border: 1px black solid;
    font-size: 16px;
    width: 200px;
    height: 40px;
}

.button-select-search-option-tables-responsive {
    width: 200px;
    height: 80px;
}

.button-select-search-cat-tables-responsive {
    width: 250px;
    height: 80px;
}

.bag-buy-box-green-tables-responsive {
    width: 45px;
    height: 45px;
}

.hr-vertical {
    border-left: 1px solid black;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-green-buy-tables-responsive {
    background-color: #98FB98;
    border-radius: 5px;
    width: 100px;
    padding-right: 20px;
}

.text-img-buy-tables-responsive {
    color: black;
    left: 15px;
    bottom: -10px;
}

.text-ventas-logo {
    color: #3a6193;
    left: 120px;
    top: 20px;
}

.img-items-products-tables-responsive {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.img-items-products:hover {
    border: 1px solid black;
}

.img-items-products-add-tables-responsive {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.button-add-tables-responsive {
    border-radius: 10px;
    color: rgb(15, 121, 15);
    margin-left: 10px;
}

.like-size-tables-responsive {
    top: 70px;
    left: 70px;
    height: 70px;
    width: 70px;
}

.discount-add-tables-responsive {
    background-color: black;
    color: white;
    border-radius: 10px;
    bottom: 75px;
    left: 5px;
    height: 20px;
    width: 50px;
}

.icon-close {
    background-color: #98FB98;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
}

.img-items-products-basket {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.discount-2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    bottom: 120px;
    left: 5px;
    height: 20px;
    width: 60px;
    font-size: 14px;
}

.icon-plus-minus {
    background-color: #0e700e;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

.background-menus-tables-responsive {
    z-index: 300;
    position: absolute;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#user-button:active+.background-menus {
    display: block;
}

.show {
    display: block;
}

.style-menu-bars-tables-responsive {
    background-color: white;
    margin-left: 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.style-menu-categories-tables-responsive {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.style-menu-users-tables-responsive {
    background-color: white;
    margin-left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-overflow-ventas-tables-responsive {
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    max-height: 280px !important;
    overflow: auto;
    background-color: rgb(247, 247, 247);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-menu-information-tables-responsive {
    background-color: white;
    margin-left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.items-menu-tables-responsive {
    padding-top: 2px;
    padding-bottom: 2px;
}

.items-menu-tables-responsive:hover {
    background-color: rgb(167, 238, 167);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.border-list {
    border: black;
    border: 2px solid rgb(0, 0, 0);
    border-left: 100px;
    border-right: 100px;
}

.item-list-tables-responsive {
    background-color: white;
    font-size: 19px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-list-tables-responsive:hover {
    background-color: gray;
    color: white !important;
}

.buttom-radius-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    font-size: 10px !important;
    width: 140%;
    border: 1px solid gray;
    padding-bottom: 8px;
    padding-top: 8px;
}

.buttom-radius-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    font-size: 10px !important;
    width: 140%;
    border: 1px solid gray;
    padding-bottom: 8px;
    padding-top: 8px;
}

.buttom-green {
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-bar-top {
    background-color: white;
    z-index: 4;
}

.lateral-menu {
    display: inline;
}

.dashboard-padding {
    padding-left: 600px;
    padding-top: 20px;
}

.productos-disable {
    width: 100%;
    display: none;
}

.button-select-img {
    background: none;
    border: none;
}

.cards-tables-responsive {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #B1FFA6 !important;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 195px;
    margin-left: 8px;
    margin-top: 5px;
}

.card-table-responsive:focus {
    outline: 0;
    background-color: rgb(145, 233, 240) !important;
}

.modal-cards-tables-responsive {
    width: 310px !important;
    height: auto;
    border-radius: 30px;
    margin-top: 250px;
}

.button-modal-tables-responsive {
    height: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: #3a6193;
    color: white;
    border: none;
    font-size: 17px;
    padding: 10px;
}

.button-modal-responsive:focus {
    outline: 0;
}

.input-line-responsive {
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    color: rgb(201, 201, 201);
}

.input-line-responsive:focus {
    outline: 0;
}

.button-add-product-responsive {
    border: none;
    border-radius: 15px;
    background-color: #B1FFA6;
    width: 200px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.container-open-table-responsive {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.shadow-down-responsive {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.10);
}

.button-finish-order-tables-responsive {
    background-color: #B1FFA6;
    border: none;
    width: 350px;
    height: 40px;
    font-size: 17px;
    font-weight: 800;
}

.button-status-responsive {
    border-radius: 10px;
    color: black !important;
    height: 50px;
}

.img-setup-size-responsive {
    height: 35px;
    width: 80px;
    margin-left: 10px;
}

.order-status-nav {
    width: 100%;
    height: 40px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    z-index: 0;
    background-color: white;
    margin-top: 10px;
}

.width-600 {
    width: 600px;
}

.width-300 {
    width: 300px;
}

.width-100 {
    width: 100px;
}

.width-50 {
    width: 50px;
}

.input-line {
    border: none;
    border-bottom: 1px solid black;
}

.input-line:focus {
    outline: 0;
}

.button-modal-responsive {
    height: 38px;
    width: 120px;
    border-radius: 10px;
    background-color: #3a6193;
    color: white;
    border: none;
}

.button-modal-responsive:focus {
    outline: 0;
}

.modal-setup-responsive {
    border-radius: 20px;
    margin-top: 250px;
}

.modal-process-order-tables-responsive {
    border-radius: 15px;
    width: 400px !important;
    margin-top: 250px;
}

.button-modal-cancel-tables-responsive {
    height: 38px;
    width: 200px;
    border-radius: 10px;
    background-color: #3a6193;
    color: white;
    border: none;
    font-size: 17px;
}

.button-modal-cancel-responsive:focus {
    outline: 0;
}

.img-size-gallery-bag-tables-responsive {
    width: 35px;
    height: 35px;
}

.background-green-buy-gallery-tables-responsive {
    background-color: #98FB98;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.text-img-buy-gallery-tables-responsive {
    color: black;
    left: 22px;
    bottom: -13px;
}

.background-grey-gallery-tables-responsive {
    background-color: #F2F2F2;
    height: 450px;
    width: 100%;
}

.color-yellow-star-tables-responsive {
    color: #E69D2F;
}

.size-img-galery {
    height: 350px;
    width: 350px;
}

.img-items-gallery-tables-responsive {
    height: 90px;
    width: 85px;
    border-radius: 20px;
    background-position: 50%;
    background-size: 100% auto;
    border: 1px solid black;
    margin: 5px;
}

.button-gallery-options-tables-responsive {
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;
    width: 55px;
    padding-top: 5px;
}

.box-green-gallery-tables-responsive {
    background-color: #B1FFA6;
    height: 60px;
    width: 180px;
    border-radius: 5px;
}

.size-shopping-bag-tables-responsive {
    height: 40px;
    width: 40px;
}

.img-items-gallery-relation-tables-responsive {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    margin: 5px;
}

.scrollhorizontal-tables-responsive {
    width: calc(100% - 40px);
    margin: 20px;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.scrollhorizontal::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.scrollhorizontal::-webkit-scrollbar-button {
    width: 5px !important;
    height: 5px !important;
}

.scrollhorizontal::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border: 10px none #ffffff;
    border-radius: 85px;
}

.scrollhorizontal::-webkit-scrollbar-thumb:hover {
    background: #d6d6d6;
}

.scrollhorizontal::-webkit-scrollbar-thumb:active {
    background: #c2c2c2;
}

.scrollhorizontal::-webkit-scrollbar-track {
    background: #ffffff;
    border: 10px none #ffffff;
    border-radius: 78px;
}

.scrollhorizontal::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

.scrollhorizontal::-webkit-scrollbar-track:active {
    background: #d1d1d1;
}

.scrollhorizontal::-webkit-scrollbar-corner {
    background: transparent;
}